.jumbotron{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRheddFDwSc_muj80v9J-X3Y_gWb7BoljZ4_ohmJx4oYfhEY4haLw)
}
h1{
  color: white;
}
h2{
  color: yellow;
}
.container{
  background-color: grey;
}
