<div style="text-align:center">
  <div class="container">
  <div class="jumbotron">
  <h1><strong> Quotes</strong></h1>
  <h2><strong> Get inspired!</strong></h2>
  </div>
<div class="row">
  <div class="col-md-6">
  <app-quote-form (addQuote)="addNewGoal($event)"></app-quote-form>
  </div>
  <div class ="col-md-6">
  <ul>

    <div class="cards" *ngFor='let quote of quotes;let i = index'>
      <div class="cards">
      <h4 id="{{i}}" appHighlight>{{quote.name}} was added on {{quote.completeDate|date}}</h4>
      <br><button (click)='toogleDetails(i)'>Show Details</button>
      </div>
      <div class="row" *ngIf="quote.showDescription">
      <app-quote-details [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
      </div>
    </div>

  </ul>
  </div>


      </div>
      </div>
  </div>
